<div class="header2">
  <h1 class="logo">
    <%= link_to root_path do %>
      <%= image_tag "pickles-logo-small.svg" %>
      <% end %>
    </h1>
</div>

<div class="product_grid_2">
  <h2>Checkout</h2>
<div>

 <h3>Billing address</h3>
<%= simple_form_for @order do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>

  <%= f.input :email %>
  <%= f.input :country %>
  <%= f.input :address_1 %>
  <%= f.input :address_2 %>
  <%= f.input :city %>
  <%= f.input :postal_code %>

</div>

<div class="checkbox">
  <%= f.input :subscribe, :label => "Ship to this address" %>
</div>

<div class="delivery_address">
  <h3>Delivery address</h3>

  <%= f.input :delivery_first_name %>
  <%= f.input :delivery_last_name %>

  <%= f.input :delivery_country %>
  <%= f.input :delivery_address_1 %>
  <%= f.input :delivery_address_2 %>
  <%= f.input :delivery_city %>
  <%= f.input :delivery_postal_code %>
</div>



<div>
  <h3>Your order</h3>

  <div>
    <%= @current_cart.total_quantity %> items: <%= number_to_currency @current_cart.total_price_in_pounds,  unit: "£" %>
  </div>
  <div>
  Delivery: £5.00
  </div>
  <div>
  Total: <%= number_to_currency @order.price_in_pounds, unit: "£"  %>
  </div>

</div>

<div>

  <h3>Payment details</h3>

  <p>We accept MasterCard, Visa and American Express. This payment is bank-level secure using SSL and Stripe.</p>


  <div id="card-errors">
    <%@order.errors[:stripe_token].each do |message| %>
      <p class="error"><%= message %> </p>
    <%end%>
  </div>

  <label>Card number</label>
  <div class="my-input" id="card-number"></div>

  <label>Expiry</label>
  <div class="my-input" id="card-expiry"></div>

  <label>Security code (3 digits)</label>
  <div class="my-input" id="card-cvc"></div>

  <%= f.button :submit,"Submit order", class: "button_primary" %>


</div>



</div>


<%end%>




<script>

var style = {
    base: {
      color: '#ffffff',
      fontSize: '14px',
      color: "#32325d",
      fontSmoothing: 'antialiased',
    },
    invalid: {
      color: '#e5424d',
      ':focus': {
      color: '#303238',
      },
    },
  };

  var stripe = Stripe("<%= Rails.application.secrets.stripe_public_key %>")
  var elements = stripe.elements()


  var cardNumber = elements.create('cardNumber', { style: style });
  cardNumber.mount('#card-number');

  var cardExpiry = elements.create('cardExpiry', {style: style });
  cardExpiry.mount('#card-expiry');

  var cardCvc = elements.create('cardCvc', {  style: style });
  cardCvc.mount('#card-cvc');


  $("form.new_order").on("submit", function (ev) {
    ev.preventDefault()

    stripe.createToken(cardNumber).then(function (result) {
      if (result.error) {
        $("#card-error").html(result.error.message)
      } else {
        $("form.new_order").append("<input type=hidden name='order[stripe_token]' value=" + result.token.id + ">")
        $("form.new_order").get(0).submit()
      }
    })
  })
</script>
