<div class="header2">
  <h1 class="logo">
    <%= link_to root_path do %>
      <%= image_tag "pickles-logo-small.svg" %>
      <% end %>
    </h1>
</div>

<div class="top_container"></div>

<%= simple_form_for @order do |f| %>


<div class="checkout product_grid_2">
  <h2>Checkout</h2>

  <div class="billing_address">

    <h4>Billing address</h4>
    <%= f.input :first_name %>
    <%= f.input :last_name %>

    <%= f.input :email %>
    <%= f.input :country, prompt: 'Select country' %>
    <%= f.input :address_1 %>
    <%= f.input :address_2 %>
    <%= f.input :city %>
    <%= f.input :postal_code %>

  </div>

  <div class="margin_top_30">
    <%= f.input :subscribe, label: "Deliver to this address" %>
  </div>

  <div class="delivery_address">
    <h4>Delivery address</h4>

    <%= f.input :delivery_first_name, label: "First name" %>
    <%= f.input :delivery_last_name, label: "Last name"  %>

    <%= f.input :delivery_country, prompt: 'Select country' %>
    <%= f.input :delivery_address_1, label: "Address 1" %>
    <%= f.input :delivery_address_2, label: "Address 2"  %>
    <%= f.input :delivery_city,label: "City" %>
    <%= f.input :delivery_postal_code, label: "Post code"%>
  </div>



  <div class="your_order">
    <h4>Your order</h4>

    <div>
      <%= @current_cart.total_quantity %> items: <%= number_to_currency @current_cart.total_price_in_pounds,  unit: "£" %>
    </div>
    <div>
      Delivery: £3.00
    </div>
    <div>
      Total: <%= number_to_currency @order.price_in_pounds, unit: "£"  %>
    </div>

    </div>

    <div class="payment">

      <h4>Payment details</h4>

      <p>We accept MasterCard, Visa and American Express. This payment is bank-level secure using SSL and Stripe.</p>


    <div id="card-errors">
      <% @order.errors[:stripe_token].each do |message| %>
        <p class="error"><%= message %> </p>
      <% end%>
    </div>

    <label>Card number</label>
    <div class="my-input" id="card-number"></div>

    <label>Expiry</label>
    <div class="my-input" id="card-expiry"></div>

    <label>Security code (3 digits)</label>
    <div class="my-input" id="card-cvc"></div>

    <%= f.button :submit, "Submit order", class: "button_primary" %>

  </div>

</div>

<%end%>



<script>

var style = {
    base: {
      color: '#ffffff',
      fontSize: '14px',
      color: "#32325d",
      fontSmoothing: 'antialiased',
    },
    invalid: {
      color: '#e5424d',
      ':focus': {
      color: '#303238',
      },
    },
  };

  var stripe = Stripe("<%= Rails.application.secrets.stripe_public_key %>")
  var elements = stripe.elements()


  var cardNumber = elements.create('cardNumber', { style: style });
  cardNumber.mount('#card-number');

  var cardExpiry = elements.create('cardExpiry', {style: style });
  cardExpiry.mount('#card-expiry');

  var cardCvc = elements.create('cardCvc', {  style: style });
  cardCvc.mount('#card-cvc');


  $("form.new_order").on("submit", function (ev) {
    ev.preventDefault()

    console.log("submit")

    stripe.createToken(cardNumber).then(function (result) {
      console.log(result)

      if (result.error) {
        $("#card-errors").html(result.error.message)
        $("form.new_order input[type=submit]").removeAttr("disabled")
      } else {
        $("form.new_order").append("<input type=hidden name='order[stripe_token]' value=" + result.token.id + ">")
        $("form.new_order").get(0).submit()
      }
    })
  })
</script>
