<div class="order_confirmation container_top">
  <h2>Thanks for your order</h2>
  <p>Your order has been received. <br>Please allow for 7-10 days for delivery</p>





<div class="order_details">
  <p> Your order details:</p>
  <%= @order.first_name %> <%= @order.last_name %>
<br>
  <%= @order.email %>
  <br>

  Total: <%= number_to_currency @order.price_in_pounds, unit: "£"  %>

</div>


<!-- <% @order.order_items.each do |item| %>

    <div><%= image_tag item.product.image_1.thumb, width: "50" %>
    <%= item.product.title %>
    <%= number_to_currency item.product.price_in_pounds, unit: "£" %>

    <% if item.product_variant.present? %>
      <%= item.product_variant.size %>
    <% else %>
     -
    <% end %>
    <%= item.quantity %>
<% end %>
</div> -->

<div class="button_secondary">
  <%= link_to root_path do %>
    Back to home<%= image_tag "arrow_icon.svg",width: 30 %>
  <% end %>
</div>
</div>

<section class="container">
  <div class= "newsletter_copy">
    <h4>Join the Pickles squad</h4>
    <p> Sign up to our Newsletter to hear about new product releases, learn about our design process, and everything else going on behind the scenes at Pickles magazine. </p>
  </div>

    <div class="newsletter_form">
      <%= simple_form_for :newsletter, url: newsletter_path, remote: true do |f| %>
      <%= f.input :first_name, label: false, placeholder: "First name*"%>
      <%= f.input :last_name, label: false, placeholder: "Last name*"%>
      <%= f.input :email, label: false, placeholder: "Email address*"%>

      <%= f.button :submit,"Sign me up", class: "button_primary"  %>
      <p class="smallprint"> *all fields required </p>

      <% end %>

    </div>


</section>
