<div class="header2">
  <h1 class="logo">
    <%= link_to root_path do %>
      <%= image_tag "pickles-logo-small.svg" %>
      <% end %>
    </h1>
</div>
<div class="top_container"></div>

<div class="container">
  <div class="intro">
    <h2>About</h2>
    <p>Pickles x Hummel shirt is made from moisture wicking polyester and ventilating mesh.  <br>Featuring the Pickles badge. </p>
    <img src="../assets/Pickles.png">
  </div>


  <div class="text">
    <p>In March 1966, four months before the World Cup kicked-off, the Jules Rimet Trophy was stolen from the Methodist Central Hall in Westminster where it had been on display. Just seven days after it was stolen, it was discovered in a garden hedge in Upper Norwood, South London, by a chap walking his dog. That chap was David Corbett and his dog was Pickles – the inspiration behind our magazine’s name and a football hero.
    Pickles is an independent football magazine, that focuses on the culture surrounding the game, great football stories and issues that transcend the sport. Established in 2011, the magazine uses design and illustration to present stories in more engaging ways, as well as featuring great photography – presenting unique and original articles and offering a commentary on the modern game.
    Get in touch and drop us an email info@picklesmagazine.co.uk … We’re always on the lookout for contributors and collaborators and we’ll get back to every message we receive… It may take us a little while, we’re a small team and getting more and more emails, but we will get back to you.
    </p>
  </div>

</div>


<div class="featured">

  <h4>@picklesmagazine</h4>

  <script src="//apps.elfsight.com/p/platform.js" defer></script>
      <div class="elfsight-app-276db0d4-25a2-4a5e-8a72-30da22fe3732">
      </div>

</div>

<section class="container">
  <div class= "newsletter_copy">
    <h4>Join the Pickles squad</h4>
    <p> Sign up to our Newsletter to hear about new product releases, learn about our design process, and everything else going on behind the scenes at Pickles magazine. </p>
  </div>

    <div class="newsletter_form">
      <%= simple_form_for :newsletter, url: newsletter_path, remote: true do |f| %>
      <%= f.input :first_name, label: false, placeholder: "First name*"%>
      <%= f.input :last_name, label: false, placeholder: "Last name*"%>
      <%= f.input :email, label: false, placeholder: "Email address*"%>

      <%= f.button :submit,"Sign me up", class: "button_primary"  %>


      <% end %>

    </div>

    <p class="smallprint"> *all fields required </p>

</section>
