<div class="header2">
  <h1 class="logo">
    <%= link_to root_path do %>
      <%= image_tag "pickles-logo-small.svg" %>
      <% end %>
    </h1>
</div>

<div class="container">
  <div class="intro">
    <h2>Contact</h2>
    <p>Pickles x Hummel shirt is made from moisture wicking polyester and ventilating mesh.  <br>Featuring the Pickles badge. </p>
  </div>
</div>




<div class="featured">

  <h4>@picklesmagazine</h4>

  <script src="//apps.elfsight.com/p/platform.js" defer></script>
      <div class="elfsight-app-276db0d4-25a2-4a5e-8a72-30da22fe3732">
      </div>

</div>

<section class="container">
  <div class= "newsletter_copy">
    <h4>Join the Pickles squad</h4>
    <p> Sign up to our Newsletter to hear about new product releases, learn about our design process, and everything else going on behind the scenes at Pickles magazine. </p>
  </div>

    <div class="newsletter_form">
      <%= simple_form_for :newsletter, url: newsletter_path, remote: true do |f| %>
      <%= f.input :first_name, label: false, placeholder: "First name*"%>
      <%= f.input :last_name, label: false, placeholder: "Last name*"%>
      <%= f.input :email, label: false, placeholder: "Email address*"%>

      <%= f.button :submit,"Sign me up", class: "button_primary"  %>


      <% end %>

    </div>

    <p class="smallprint"> *all fields required </p>

</section>
