
<div class="hero">
  <div class="hero-image"><%= image_tag "pickles-logo.svg" %></div>
  <a class="arrow" href="#yearofthedog"><%= image_tag "arrow_down.svg",width: 30 %></a>

</div>




<section class="block_1 container_2" id="yearofthedog">

  <div class="block-image-left">
  <% if @product_launch1.present? %>
    <%= link_to product_path(@product_launch1) do %>
    <%= image_tag "image_shirt.jpg" %>
    <% end %>
  <% end %>
  </div>







  <div class="block-copy">
        <h6>The Pickles Shirt</h6>
        <%= image_tag "dividers.svg" %>
        <% if @product_launch1.present? %>
            <%= link_to product_path(@product_launch1) do %>
          <% end %>
        <% end %>
        <h4>Year of the dog</h4>
        <p>Here it is! We’ve been working tirelessly to create a shirt that matches our magazine’s design principles, with nods to 80s classics from your youth and a quality finish Matt Le Tissier would be proud of. A shirt that won’t look out of place in the local discotheque or the weekly five-a-side game. Woof!
        </p>
        <div class="button_secondary">
        <% if @product_launch1.present? %>
            <%= link_to product_path(@product_launch1) do %>
            Shop now <%= image_tag "arrow_icon.svg",width: 30 %>
            <% end %>
        <% end %>

        </div>

  </div>

</section>





  <section class="block_2 container_2">

      <div class="block-copy">
        		<h6>New issue launch</h6>
            <%= image_tag "dividers.svg" %>
          <% if @product_launch2.present? %>
            <%= link_to product_path(@product_launch2) do %>
            <% end %>
          <% end %>
        		<h4>Introducing Pickles <br> Issue 14</h4>
        		<p>As it’s our fourteenth issue, it seemed only right that we honour the greatest number 14 of all-time… Of course we’re talking about Johan Cruyff. We remember some of the moments that defined him and his impact on the beautiful game. Plus the usual plethora of stories, fantastic artwork and photography.
            </p>
       	 		<div class="button_secondary">
            <% if @product_launch2.present? %>
              <%= link_to product_path(@product_launch2) do %>
              Shop now <%= image_tag "arrow_icon.svg",width: 30 %>
              <% end %>
            <% end %>

            </div>

      		</div>


    <div class="block-image-right">
    <% if @product_launch2.present? %>
      <%= link_to product_path(@product_launch2) do %>
      <%= image_tag "image_mag.jpg" %>

    <% end %>
  <% end %>

    </div>

</section>






<section class="container">
  <div class="featured">
    <h4>Featured products</h4>
    <div class="product_grid_3">
      <%= render partial: "products/product", collection: @featured_products %>
    </div>
    <div class="big_link">
      <%= link_to "View all products", products_path, class: "button_primary" %>
    </div>
  </div>
</section>

<section class="container">
  <div class="featured">
    <h4>Top stories</h4>
    <div class="product_grid_3">
      <%= render partial: "stories/story", collection: @featured_stories %>
    </div>
    <div class="big_link">
      <%= link_to "View all stories", stories_path, class: "button_primary" %>
    </div>

  </div>
</section>


<div class="featured">
  <div class="instagram">
    <a href="https://www.instagram.com/picklesmagazine/?hl=en" target="_blank">@picklesmagazine</a>
  </div>

  <script src="//apps.elfsight.com/p/platform.js" defer></script>
      <div class="elfsight-app-276db0d4-25a2-4a5e-8a72-30da22fe3732">
      </div>

</div>
</section>

<section class="container">
  <div class= "newsletter_copy">
    <h4>Join the Pickles squad</h4>
    <p> Sign up to our Newsletter to hear about new product releases, learn about our design process, and everything else going on behind the scenes at Pickles magazine. </p>
  </div>

    <div class="newsletter_form">
      <%= simple_form_for :newsletter, url: newsletter_path, remote: true do |f| %>
      <%= f.input :first_name, label: false, placeholder: "First name*"%>
      <%= f.input :last_name, label: false, placeholder: "Last name*"%>
      <%= f.input :email, label: false, placeholder: "Email address*"%>

      <%= f.button :submit,"Sign me up", class: "button_primary"  %>

      <p class="smallprint"> *all fields required </p>

      <% end %>
    </div>

</section>
