<%= content_for :header_class, "whiteHeader" %>

<div class="products_hero home_hero">
    <h2>New issue out now</h2>
    <a class="arrow" href="#yearofthedog"><%= image_tag "Arrow_White.svg",width: 45 %></a>
  </div>





<section class="block_1 container_2" id="yearofthedog">

  <div class="block-image-left">
  <% if @story_launch.present? %>
    <%= link_to story_path(@story_launch) do %>
    <%= image_tag "pickles1_story1.jpg" %>
    <% end %>
  <% end %>
  </div>







  <div class="block-copy">
        <h6>Feature</h6>
        <%= image_tag "dividers.svg" %>
        <% if @story_launch.present? %>
            <%= link_to story_path(@story_launch) do %>
          <% end %>
        <% end %>
        <h4>The Little Club That Dreamed Big</h4>
        <p>Pistoia, a medium-sized town in the heart of Tuscany. It is the summer of 1980 and after 50 years the local football team (Unione Sportiva Pistoiese) has just been promoted again to the top league, Serie A. 
        </p>
        <div class="button_secondary">
        <% if @story_launch.present? %>
            <%= link_to story_path(@story_launch) do %>
            Read now <%= image_tag "arrow_icon.svg",width: 30 %>
            <% end %>
        <% end %>

        </div>

  </div>

</section>





  <section class="block_2 container_2">

      <div class="block-copy">
        		<h6>New issue launch</h6>
            <%= image_tag "dividers.svg" %>
          <% if @product_launch2.present? %>
            <%= link_to product_path(@product_launch2) do %>
            <% end %>
          <% end %>
        		<h4>Pickles 1/9</h4>
        		<p>After a Pep Guardiola style sabbatical, to recharge our batteries and check out the opposition, we've come back stronger. In the latest edition of Pickles we ask some big questions, continue to tell the game’s forgotten stories, tackle issues that transcend its 90 minutes and celebrate the best in real football culture. We imagine a world without football pundits, Twitter without Football Twitter, ask the question, can clubs still afford luxury, and celebrate the life of legendary soul boy, Laurie Cunningham.
            </p>
       	 		<div class="button_secondary">
            <% if @product_launch2.present? %>
              <%= link_to product_path(@product_launch2) do %>
              Shop now <%= image_tag "arrow_icon.svg",width: 30 %>
              <% end %>
            <% end %>

            </div>

      		</div>


    <div class="block-image-right">
    <% if @product_launch2.present? %>
      <%= link_to product_path(@product_launch2) do %>
      <%= image_tag "pickles1_hp1.jpg" %>

    <% end %>
  <% end %>

    </div>

</section>






<section class="container">
  <div class="featured">
    <h4>Featured products</h4>
    <div class="product_grid_3">
      <%= render partial: "products/product", collection: @featured_products %>
    </div>
    <div class="big_link">
      <%= link_to "View all products", products_path, class: "button_primary" %>
    </div>
  </div>
</section>

<section class="container">
  <div class="featured">
    <h4>Top stories</h4>
    <div class="product_grid_3">
      <%= render partial: "stories/story", collection: @featured_stories %>
    </div>
    <div class="big_link">
      <%= link_to "View all stories", stories_path, class: "button_primary" %>
    </div>

  </div>
</section>


<div class="featured">
  <div class="instagram">
    <a href="https://www.instagram.com/picklesmagazine/?hl=en" target="_blank">@picklesmagazine</a>
  </div>

  <script src="//apps.elfsight.com/p/platform.js" defer></script>
      <div class="elfsight-app-276db0d4-25a2-4a5e-8a72-30da22fe3732">
      </div>

</div>
</section>

<section class="container">
  <div class= "newsletter_copy">
    <h4>Join the Pickles squad</h4>
    <p> Sign up to our Newsletter to hear about new product releases, learn about our design process, and everything else going on behind the scenes at Pickles magazine. </p>
  </div>

    <div class="newsletter_form">
      <%= simple_form_for :newsletter, url: newsletter_path, remote: true do |f| %>
      <%= f.input :first_name, label: false, placeholder: "First name*"%>
      <%= f.input :last_name, label: false, placeholder: "Last name*"%>
      <%= f.input :email, label: false, placeholder: "Email address*"%>

      <%= f.button :submit,"Sign me up", class: "button_primary"  %>

      <p class="smallprint"> *all fields required </p>

      <% end %>
    </div>

</section>
