
<div class="hero">
  <%= image_tag "pickles-logo.svg" %>
</div>


<section class="block_1 container_2">


  <div class="block-image-left">

    <%= link_to product_path(@product_launch) do %>
      <%= image_tag "image_shirt.jpg" %>
    <% end %>
  </div>







  <div class="block-copy">
        <h6>Introduction</h6>
        <%= link_to product_path(@product_launch) do %>
          <%= image_tag "dividers.svg" %>
        <% end %>
        <h4>Type something</h4>
        <p>Founded in 1992, Griffin Technology are leading creators of innovations for everyday life, including the latest in cases, chargers, cables and home & car audio solutions for iPhone, iPad, iPod, smartphones,tablets, PCs and more. As well as delivering a strategic and</p>
        <div class="button_secondary">
          <%= link_to product_path(@product_launch) do %>
            Shop now <%= image_tag "arrow_icon.svg",width: 30 %>
          <% end %>
        </div>

  </div>

</section>





  <section class="block_2 container_2">

      <div class="block-copy">
        		<h6>Introduction</h6>
            <%= link_to product_path(@product_launch) do %>
              <%= image_tag "dividers.svg" %>
            <% end %>
        		<h4>Type something</h4>
        		<p>Founded in 1992, Griffin Technology are leading creators of innovations for everyday life, including the latest in cases, chargers, cables and home & car audio solutions for iPhone, iPad, iPod, smartphones,tablets, PCs and more. As well as delivering a strategic and</p>
       	 		<div class="button_secondary">
              <%= link_to product_path(@product_launch) do %>
                Shop now <%= image_tag "arrow_icon.svg",width: 30 %>
              <% end %>
            </div>

      		</div>


    <div class="block-image-right">

      <%= link_to product_path(@product_launch) do %>
        <%= image_tag "image_mag.jpg" %>
      <% end %>
    </div>

</section>






<section class="container">
  <div class="featured">
    <h4>Featured products</h4>
    <div class="product_grid_3">
      <%= render partial: "products/product", collection: @featured_products %>
    </div>
  </div>
</section>

<section class="container">
  <div class="featured">
    <h4>Top stories</h4>
    <div class="product_grid_3">
      <%= render partial: "stories/story", collection: @featured_stories %>
    </div>
  </div>
</section>


<div class="featured">
  <h4>@picklesmagazine</h4>

  <script src="//apps.elfsight.com/p/platform.js" defer></script>
      <div class="elfsight-app-276db0d4-25a2-4a5e-8a72-30da22fe3732">
      </div>

</div>
</section>

<section class="container">
  <div class= "newsletter_copy">
    <h4>Join the Pickles squad</h4>
    <p> Sign up to our Newsletter to hear about new product releases, learn about our design process, and everything else going on behind the scenes at Pickles magazine. </p>
  </div>

    <div class="newsletter_form">
      <%= simple_form_for :newsletter, url: newsletter_path, remote: true do |f| %>
      <%= f.input :first_name, label: false, placeholder: "First name*"%>
      <%= f.input :last_name, label: false, placeholder: "Last name*"%>
      <%= f.input :email, label: false, placeholder: "Email address*"%>

      <%= f.button :submit,"Sign me up", class: "button_primary"  %>


      <% end %>

    </div>

    <p class="smallprint"> *all fields required </p>

</section>
