<header>
  <div class="header_black">
    <div class="menu-toggle">
      <%= image_tag "menu-icon.svg", class: "icon" %>
      <%= image_tag "menu-close.svg", class: "close" %>
    </div>

    <h1 class="logo">
      <%= link_to root_path do %>
        <%= image_tag "pickles_logo_update.svg" %>
      <% end %>
    </h1>

    <div class="cart">
      <%= link_to cart_path do %>
        <%= image_tag "cart.svg" %>
        ( <%= @current_cart.total_quantity %> )
        <!-- <%= number_to_currency @current_cart.total_price_in_pounds,  unit: "£" %> -->
      <% end %>
    </div>
  </div>


  <div class="menu">

      <nav>
        <%= link_to "Home", root_path, class: "homehover" %>
        <%= link_to "Events", events_path, class: "eventhover" %>
        <%= link_to "Shop", products_path, class: "shophover" %>
        <%= link_to "Stories", stories_path, class: "storieshover" %>
        <%= link_to "About", about_path, class: "abouthover" %>
        <%= link_to "Contact", contact_path, class: "contacthover" %>
      </nav>

      <div class="navigation-overlay-bg-home-hover"></div>
      <div class="navigation-overlay-bg-event-hover"></div>
       <div class="navigation-overlay-bg-shop-hover"></div>
       <div class="navigation-overlay-bg-stories-hover"></div>
       <div class="navigation-overlay-bg-about-hover"></div>
       <div class="navigation-overlay-bg-contact-hover"></div>
  </div>
</header>

<div class="container container_top">
  <div class="intro">
    <h2>Terms and Conditions</h2>
  </div>


  <div class="text">
    <p class="subhead">Intellectual property rights</p>
    <p>The content on the Pickles Magazine website including without limitation, all text, graphics, images, photos, code, multimedia files, interactive service marks and logos are owned by or licensed to Pickles Magazine, and are subject to copyright and other intellectual property rights under international laws and international conventions.
    The content on the Pickles Magazine website is provided to You as is for Your information and personal use only and may not be used, copied, reproduced, distributed, transmitted, broadcast, displayed, sold, licensed, or otherwise exploited for any purpose whatsoever without the prior written consent of Pickles Magazine or as expressly provided herein.
    You agree not to engage in the use, copying, or distribution of any of the content for any commercial purposes. If You download or print any content for personal use, You must retain all copyright and other proprietary notices contained thereon. You agree not to circumvent, disable or otherwise interfere with security related features of the Website or features that prevent or restrict use or copying of any content or enforce limitations on the use of the Pickles Magazine website or the content.</p>

    <p class="subhead">Pricing Policy</p>
    <p>Pickles Magazine products are sold at limited quantities and availabilities. We have done our best to display our items as accurately as possible on the Pickles Magazine website. Please be aware, variations in style, color, size, shape and look may occur.<p>

    <p class="subhead">Indemnity</p>
    <p>By use of the Pickles Magazine website, you agree to indemnify and hold Pickles Magazine harmless from any claim or demand, as well as losses, expenses, damages and costs, resulting from any violation of these terms of service or any activity related to your account (including negligent or wrongful conduct).</p>

    <p class="subhead">Price changes</p>
    <p>Pickles Magazine reserves the right to modify the price of Pickles Magazine products at any time. Such notice may be provided at any time by posting the changes to the Pickles Magazine website or Pickles Magazine social networks.</p>

    <p class="subhead">Payments</p>
    <p>All payments for goods on the Pickles Magazine website are handled through Stripe. <a href="https://stripe.com/us/privacy" target="_blank"> Stripe Privacy Policy </a>

    <p class="subhead">Modification to the website</p>
    <p>Pickles Magazine reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Pickles Magazine website (or any part thereof) with or without prior notice. Over shall not be liable to You or to any third party for any modification, suspension or discontinuance of the Pickles Magazine website.</p>

    <br>
    <p>PICKLES MAGAZINE IS NOT RESPONSIBLE OR LIABLE FOR ANY LOSS OR DAMAGE OF ANY SORT INCURRED AS A RESULT OF ANY DEALINGS WITH ANY THIRD PARTY WEBSITE OR MERCHANT OR OPERATOR OF SUCH A THIRD PARTY WEBSITE.</p>

  </div>
