<div class="header2">
  <h1 class="logo">
    <%= link_to root_path do %>
      <%= image_tag "pickles-logo-small.svg" %>
      <% end %>
    </h1>
</div>

<div class="intro">
  <h2>Stories</h2>
  <p>Pickles x Hummel shirt is made from moisture wicking polyester and ventilating mesh.  <br>Featuring the Pickles badge. </p>
</div>

<div class="active">

  <%= active_link_to "All stories", stories_path, active: {category: nil, category_id: nil} %>
  <%= render "categories" %>
</div>

<div class="container">
  <div class="product_grid_3">
    <%= render partial: "story", collection: @stories %>

  </div>
</div>
