<div class="header2">
  <h1 class="logo">
    <%= link_to root_path do %>
      <%= image_tag "pickles-logo-small.svg" %>
      <% end %>
    </h1>
</div>

<div class="container">

  <div class="intro">

    <div>
      <h6>
      <% @story.categories.each do |cat| %>
        <%=  link_to cat.title, stories_path(category: cat.id) %>
        <% end %>
      </h6>

    </div>


    <h2><%= @story.title %></h2>

    <h5><%= @story.byline %></h5>

    <% if @story.standfirst.present? %>
    <p><%= @story.standfirst.html_safe %></p>
    <% end %>



    <%= image_tag @story.image_1.large %>
  </div>

  <div class="text">

    <%= @story.body.html_safe %>

      <div class="link">
        <%= link_to "Back to all Stories", stories_path %>
      </div>

  </div>
