<header>

  <div class="header_white">
    <div class="menu-toggle">
      <%= image_tag "menu-icon-white.svg", class: "icon" %>
      <%= image_tag "menu-close.svg", class: "close" %>
    </div>

    <h1 class="logo">
      <%= link_to root_path do %>
        <%= image_tag "pickles_logo_update_white.svg" %>
      <% end %>
    </h1>


    <div class="cart cart-white">
      <%= link_to cart_path do %>
        <%= image_tag "cart-white.svg" %>
        ( <%= @current_cart.total_quantity %> )
        <!-- <%= number_to_currency @current_cart.total_price_in_pounds,  unit: "£" %> -->
      <% end %>
    </div>
  </div>

  <div class="header_black_hide">
    <div class="menu-toggle">
      <%= image_tag "menu-icon.svg", class: "icon" %>
      <%= image_tag "menu-close.svg", class: "close" %>
    </div>

    <h1 class="logo">
      <%= link_to root_path do %>
        <%= image_tag "pickles_logo_update.svg" %>
      <% end %>
    </h1>

    <div class="cart">
      <%= link_to cart_path do %>
        <%= image_tag "cart.svg" %>
        ( <%= @current_cart.total_quantity %> )
        <!-- <%= number_to_currency @current_cart.total_price_in_pounds,  unit: "£" %> -->
      <% end %>
    </div>
  </div>

  <div class="menu">

      <nav>
        <%= link_to "Home", root_path, class: "homehover" %>
        <%= link_to "Events", events_path, class: "eventhover" %>
        <%= link_to "Shop", products_path, class: "shophover" %>
        <%= link_to "Stories", stories_path, class: "storieshover" %>
        <%= link_to "About", about_path, class: "abouthover" %>
        <%= link_to "Contact", contact_path, class: "contacthover" %>
      </nav>

      <div class="navigation-overlay-bg-home-hover"></div>
      <div class="navigation-overlay-bg-event-hover"></div>
       <div class="navigation-overlay-bg-shop-hover"></div>
       <div class="navigation-overlay-bg-stories-hover"></div>
       <div class="navigation-overlay-bg-about-hover"></div>
       <div class="navigation-overlay-bg-contact-hover"></div>
  </div>
</header>

<div class="container_3">

  <div class="fullwidth-intro" style="background-image: url(<%= @story.image_1.large %>);">

    <div>
      <h6 class="white">
      <% @story.categories.each do |cat| %>
        <%=  link_to cat.title, stories_path(category: cat.title) %>
        <% end %>
      </h6>

    </div>


    <h2 class="white"><%= @story.title %></h2>

    <% if @story.standfirst.present? %>
    <p class="white"><%= @story.standfirst.html_safe %></p>
    <% end %>

    <% if @story.credit.present? %>
      <h6 class="white"><%= @story.byline %> | <%= @story.credit %></h6>
    <% end %>




  </div>




  <p class="captions"><%= @story.caption_1.html_safe %></p>




  <div class="text">



    <p><%= @story.body.html_safe %></p>

    <div class="link">
      <%= link_to "Explore the shop", products_path %>
    </div>

    <div class="share">
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <div class="addthis_inline_share_toolbox"></div>
    </div>

    <div class="link">
      <%= link_to "Back to all stories", stories_path %>
    </div>

  </div>

  </div>

  <section class="container">
    <div class= "newsletter_copy">
      <h4>Join the Pickles squad</h4>
      <p> Sign up to our Newsletter to hear about new product releases, learn about our design process, and everything else going on behind the scenes at Pickles magazine. </p>
    </div>

      <div class="newsletter_form">
        <%= simple_form_for :newsletter, url: newsletter_path, remote: true do |f| %>
        <%= f.input :first_name, label: false, placeholder: "First name*"%>
        <%= f.input :last_name, label: false, placeholder: "Last name*"%>
        <%= f.input :email, label: false, placeholder: "Email address*"%>

        <%= f.button :submit,"Sign me up", class: "button_primary"  %>
        <p class="smallprint"> *all fields required </p>

        <% end %>
      </div>

  </section>
