<div class="header2">
  <h1 class="logo">
    <%= link_to root_path do %>
      <%= image_tag "pickles-logo-small.svg" %>
      <% end %>
    </h1>
</div>

<div class="top_container"></div>


<div class="container">

  <div class="intro">

    <div>
      <h6>
      <% @story.categories.each do |cat| %>
        <%=  link_to cat.title, stories_path(category: cat.title) %>
        <% end %>
      </h6>

    </div>


    <h2><%= @story.title %></h2>

    <% if @story.standfirst.present? %>
    <p><%= @story.standfirst.html_safe %></p>
    <% end %>


    <h6><%= @story.byline %></h6>




  </div>

  <%= image_tag @story.image_1.large %>
  <p class="captions"><%= @story.caption_1.html_safe %></p>




  <div class="text">



    <p><%= @story.body.html_safe %></p>

    <div class="share">
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <div class="addthis_inline_share_toolbox"></div>
    </div>

    <div class="link">
      <%= link_to "Back to all Stories", stories_path %>
    </div>

  </div>

  </div>

  <section class="container">
    <div class= "newsletter_copy">
      <h4>Join the Pickles squad</h4>
      <p> Sign up to our Newsletter to hear about new product releases, learn about our design process, and everything else going on behind the scenes at Pickles magazine. </p>
    </div>

      <div class="newsletter_form">
        <%= simple_form_for :newsletter, url: newsletter_path, remote: true do |f| %>
        <%= f.input :first_name, label: false, placeholder: "First name*"%>
        <%= f.input :last_name, label: false, placeholder: "Last name*"%>
        <%= f.input :email, label: false, placeholder: "Email address*"%>

        <%= f.button :submit,"Sign me up", class: "button_primary"  %>
        <p class="smallprint"> *all fields required </p>

        <% end %>
      </div>

  </section>
