<div class="header2">
  <h1 class="logo">
    <%= link_to root_path do %>
      <%= image_tag "pickles-logo-small.svg" %>
      <% end %>
    </h1>
</div>

<p>
 <%= link_to "Back to all products", products_path %>
</p>

<div class="product_hero">

  <div class="product_image">
    <%= image_tag @product.image_1.large %>
  </div>

  <div class="product_details">
    <h3><%= @product.title %></h3>
    <%= number_to_currency @product.price_in_pounds, unit: "£" %>

    <%= simple_form_for [@product, @order_item] do |f| %>
      <% if @product.product_variants.any? %>
         <div class="size">
           <%= f.input :product_variant_id, as: :select, collection: @product.product_variants.all, label_method: :select_text, label: "Select size", include_blank: false %>
        </div>
      <% end %>


      <%= f.input :quantity %>
      <%= f.button :submit, "Add to cart", class: "button_primary" %>
    <% end %>
    </div>

  </div>



  <section class="container">

  <div class="product_description">
    <h3>Honing the details</h3>
      <p><%= simple_format @product.description %></p>
    </div>
</section>

<section class="product_extraimages">


        <div class="product_extraimage">
          <% if @product.image_2.medium.present? %>
            <%= image_tag @product.image_2.medium %>
          <% end %>
        </div>
        <div class="product_extraimage">
          <% if @product.image_3.medium.present? %>
            <%= image_tag @product.image_3.medium %>
          <% end %>
        </div>
        <div class="product_extraimage">
          <% if @product.image_4.medium.present? %>
            <%= image_tag @product.image_4.medium %>
          <% end %>
        </div>

</section>


<section class="container">
  <div class="quote">
    <h3><%= @product.quote %></h3>
    <p><%= @product.quote_credit %></p>
  </div>
</section>




<section class="container">
  <div class="featured">
    <h3>You might also like...</h3>
    <div class="product_grid_3">
      <%= render partial: "product", collection: @featured_products %>
    </div>
  </div>
</section>


<div class="featured">
  <h3>@picklesmagazine</h3>

  <script src="//apps.elfsight.com/p/platform.js" defer></script>
      <div class="elfsight-app-276db0d4-25a2-4a5e-8a72-30da22fe3732">
      </div>

</div>

<section class="container">
  <div class= "newsletter_copy">
    <h3>Join the Pickles squad</h3>
    <p> Sign up to our Newsletter to hear about new product releases, learn about our design process, and everything else going on behind the scenes at Pickles magazine. </p>
  </div>

    <div class="newsletter_form">
      <%= simple_form_for :newsletter, url: newsletter_path, remote: true, defaults: {label: false} do |f| %>
      <%= f.input :first_name, :value=>"",:placeholder => "First name"%>
      <%= f.input :last_name, :value=>"",:placeholder => "Last name"%>
      <%= f.input :email, :value=>"",:placeholder => "Eg:abc@gmail.com"%>
      <%= f.button :submit,"Sign me up", class: "button_primary"  %>
      <% end %>
    </div>
</section>
