<div class="header2">
  <h1 class="logo">
    <%= link_to root_path do %>
      <%= image_tag "pickles-logo-small.svg" %>
      <% end %>
    </h1>
</div>

<p class="text_link">
 <%= link_to " Back to all products", products_path %>
</p>

<div class="product_hero">

  <div class="product_image">
    <%= image_tag @product.image_1.large %>
  </div>

  <div class="product_details">
    <h3><%= @product.title %></h3>

    <div class="price">
      <h5><%= number_to_currency @product.price_in_pounds, unit: "£" %></h5>
    </div>

    <% if @product.is_sold_out? %>
       <div class="sold_out">
          Item is sold out
      </div>
    <% end %>

    <%= simple_form_for [@product, @order_item] do |f| %>
      <% if @product.product_variants.present? %>

        <div class="product_variant">

           <%= f.input :product_variant_id, as: :select, collection: @product.product_variants.all, label_method: :select_text, prompt: 'Select size', label: false, include_blank: false %>
        </div>
        <% end %>

        <div class="quantity">
          <%= f.input :quantity, label: "Qty" %>
        </div>



      <%= f.button :submit, "Add to cart", class: "button_primary" %>
      <% end %>

      <% if flash[:success].present? %>
        <div class="success">
          <%= flash[:success] %>
        </div>
      <% end %>

      <% if flash[:error].present? %>
        <div class="error">
          <%= flash[:error] %>
        </div>
      <% end %>


  </div>

</div>




  <section class="container">

  <div class="product_description">
    <h4>Honing the details</h4>
      <p><%= simple_format @product.description %></p>
    </div>
</section>

<section class="product_extraimages">


        <div class="product_extraimage">
          <% if @product.image_2.medium.present? %>
            <%= image_tag @product.image_2.medium %>
          <% end %>
        </div>
        <div class="product_extraimage">
          <% if @product.image_3.medium.present? %>
            <%= image_tag @product.image_3.medium %>
          <% end %>
        </div>
        <div class="product_extraimage">
          <% if @product.image_4.medium.present? %>
            <%= image_tag @product.image_4.medium %>
          <% end %>
        </div>

</section>


<section class="container">
  <div class="quote">
    <h4><%= @product.quote %></h4>
    <p><%= @product.quote_credit %></p>
  </div>
</section>




<section class="container">
  <div class="featured">
    <h4>You might also like...</h4>
    <div class="product_grid_3">
      <%= render partial: "product", collection: @featured_products %>
    </div>
  </div>
</section>


<div class="featured">
  <h4>@picklesmagazine</h4>

  <script src="//apps.elfsight.com/p/platform.js" defer></script>
      <div class="elfsight-app-276db0d4-25a2-4a5e-8a72-30da22fe3732">
      </div>

</div>

<section class="container">
  <div class= "newsletter_copy">
    <h4>Join the Pickles squad</h4>
    <p> Sign up to our Newsletter to hear about new product releases, learn about our design process, and everything else going on behind the scenes at Pickles magazine. </p>
  </div>

    <div class="newsletter_form">
      <%= simple_form_for :newsletter, url: newsletter_path, remote: true do |f| %>
      <%= f.input :first_name, label: false, placeholder: "First name*"%>
      <%= f.input :last_name, label: false, placeholder: "Last name*"%>
      <%= f.input :email, label: false, placeholder: "Email address*"%>

      <%= f.button :submit,"Sign me up", class: "button_primary"  %>


      <% end %>

    </div>

    <p class="smallprint"> *all fields required </p>

</section>
