<h2><%= @product.title %></h2>

<%= image_tag @product.image_1.large %>

<%= simple_format @product.description %>

<%= simple_form_for [@product, @order_item] do |f| %>
  <% if @product.product_variants.any? %>
     <div class="size">
       <%= f.input :product_variant_id, as: :select, collection: @product.product_variants.all, label_method: :select_text, label: "Select size", include_blank: false %>
    </div>
  <% end %>
  <%= f.input :quantity %>
  <%= f.button :submit, "Add to cart" %>
<% end %>





<p>
 <%= link_to "Back to all products", products_path %>
</p>
