<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>Picklesmagazine</title>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>

    <div class="menu-toggle">
      <%= image_tag "menu-icon.svg", class: "icon" %>
      <%= image_tag "menu-close.svg", class: "close" %>
    </div>

    <header>


        <div class="cart">
          <%= link_to cart_path do %>
            <%= image_tag "cart.svg" %>
            ( <%= @current_cart.total_quantity %> )
            <!-- <%= number_to_currency @current_cart.total_price_in_pounds,  unit: "£" %> -->
            <% end %>
        </div>




    </header>



    <div class="menu">

      <nav>
        <%= link_to "Home", root_path, class: "homehover" %>
        <%= link_to "Shop", products_path, class: "shophover" %>
        <%= link_to "Stories", stories_path, class: "storieshover" %>
        <%= link_to "About", about_path, class: "abouthover" %>
        <%= link_to "Contact", contact_path, class: "contacthover" %>
      </nav>

      <div class="navigation-overlay-bg-home-hover"></div>
	     <div class="navigation-overlay-bg-shop-hover"></div>
       <div class="navigation-overlay-bg-stories-hover"></div>
       <div class="navigation-overlay-bg-about-hover"></div>
       <div class="navigation-overlay-bg-contact-hover"></div>
     </div>



      <main>
        <%= yield %>
      </main>


  <footer class="footer">

    <p>Pickles Magazine © 2018 </p> <a href="https://www.lauragosney.com/" target="_blank"> Design by wwww.lauragosney.com
    </a>

  </footer>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a7a031e4b4019c5"></script>

  </body>

</html>
