<!DOCTYPE html>
<html>
  <head>
    <title>Picklesmagazine</title>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <h1>
        <%= link_to root_path do %>
          <%= image_tag "pickles-logo-small.svg" %>
        <% end %>
      </h1>

      <nav>
        <%= link_to "Shop", products_path %>
        <%= link_to "About", about_path %>
        <%= link_to "Contact", contact_path %>
        <%= link_to cart_path do %>
          <%= image_tag "cart.svg" %>
          <%= @current_cart.total_quantity %> items: <%= number_to_currency @current_cart.total_price_in_pounds,  unit: "£" %>

        <% end %>
      </nav>
    </header>
      <% if flash[:success].present? %>
        <div class="success">
          <%= flash[:success] %>
        </div>
      <% end %>
    <main>
    <%= yield %>
  </main>

  <div class="featured_products">

  <h3>@picklesmagazine</h3>

  <script src="//apps.elfsight.com/p/platform.js" defer></script>
				<div class="elfsight-app-276db0d4-25a2-4a5e-8a72-30da22fe3732">
				</div>
      </div>

  <footer class="footer">

    <p>Pickles Magazine © 2012 | Designed by Read | Subscriptions </p>

  </footer>


  </body>

</html>
