<!DOCTYPE html>
<html>
  <head>
    <title>Picklesmagazine</title>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="node_modules/trumbowyg/dist/ui/trumbowyg.css">


    <script src="https://js.stripe.com/v3/"></script>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="menu-toggle">
        <%= image_tag "menu-icon.svg" %>
      </div>
      <div class="cart">
        <%= link_to cart_path do %>
          <%= image_tag "cart.svg" %>
          <!-- <%= @current_cart.total_quantity %>  -->
          My basket: <%= number_to_currency @current_cart.total_price_in_pounds,  unit: "£" %>

          <% end %>
      </div>
    </header>

    <div class="menu">

      <nav>
        <%= link_to "Home", root_path, class: "homehover" %>
        <%= link_to "Shop", products_path, class: "shophover" %>
        <%= link_to "Stories", stories_path, class: "storieshover" %>
        <%= link_to "About", about_path, class: "abouthover" %>
        <%= link_to "Contact", contact_path, class: "contacthover" %>
      </nav>

	     <div class="navigation-overlay-bg-shop-hover"></div>
       <div class="navigation-overlay-bg-stories-hover"></div>
       <div class="navigation-overlay-bg-about-hover"></div>
       <div class="navigation-overlay-bg-contact-hover"></div>
     </div>

      <% if flash[:success].present? %>
        <div class="success">
          <%= flash[:success] %>
        </div>
      <% end %>

      <% if flash[:error].present? %>
        <div class="error">
          <%= flash[:error] %>
        </div>
      <% end %>

      <main>
        <%= yield %>
      </main>



  <footer class="footer">

    <p>Pickles Magazine © 2012 | Designed by Read | Subscriptions </p>

  </footer>


  </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
  <script src="node_modules/trumbowyg/dist/trumbowyg.js"></script>
  <script src="node_modules/trumbowyg/dist/plugins/base64/trumbowyg.base64.min.js"></script>
</html>
