<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="The magazine for football fans"/>
    <meta property="og:description" content="Exploring the many facets of football culture, Pickles tells the forgotten stories, tales of joy and sorrow, issues that transcend the sport and offers a commentary on the modern game."/>
    <meta property="og:url" content="https://www.picklesmagazine.com/"/>
    <meta property="og:image" content="https://picklesmagazine.s3.amazonaws.com/uploads/product/image_1/11/large_pickles14.jpg"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@PicklesMagazine"/>
    <meta name="twitter:title" content="The magazine for football fans"/>
    <meta name="twitter:description" content="Exploring the many facets of football culture, Pickles tells the forgotten stories, tales of joy and sorrow, issues that transcend the sport and offers a commentary on the modern game."/>
    <meta name="twitter:image" content="https://picklesmagazine.s3.amazonaws.com/uploads/product/image_1/11/large_pickles14.jpg"/>
    <meta name="twitter:image:alt" content="Pickles Issue 14 cover illustration"/>


    <title>Pickles Magazine</title>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>


    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>



    <header>

      <div class="menu-toggle">
        <%= image_tag "menu-icon.svg", class: "icon" %>
        <%= image_tag "menu-close.svg", class: "close" %>
      </div>


        <div class="cart">
          <%= link_to cart_path do %>
            <%= image_tag "cart.svg" %>
            ( <%= @current_cart.total_quantity %> )
            <!-- <%= number_to_currency @current_cart.total_price_in_pounds,  unit: "£" %> -->
            <% end %>
        </div>

        <div class="menu">

          <nav>
            <%= link_to "Home", root_path, class: "homehover" %>
            <%= link_to "Shop", products_path, class: "shophover" %>
            <%= link_to "Stories", stories_path, class: "storieshover" %>
            <%= link_to "About", about_path, class: "abouthover" %>
            <%= link_to "Contact", contact_path, class: "contacthover" %>
          </nav>

          <div class="navigation-overlay-bg-home-hover"></div>
    	     <div class="navigation-overlay-bg-shop-hover"></div>
           <div class="navigation-overlay-bg-stories-hover"></div>
           <div class="navigation-overlay-bg-about-hover"></div>
           <div class="navigation-overlay-bg-contact-hover"></div>
         </div>





    </header>






      <main>
        <%= yield %>
      </main>


  <footer class="footer">
    <div class="social">
      <a href="https://www.instagram.com/picklesmagazine/?hl=en" target="_blank"><%= image_tag "instagram-white.svg" %></a>
      <a href="https://twitter.com/picklesmagazine?lang=en" target="_blank"><%= image_tag "twitter-white.svg" %></a>
    </div>
    <p>Pickles Magazine © 2018 </p>
    <p><%= link_to "Privacy", privacypolicy_path %></p>
    <p><%= link_to "Terms", termsandconditions_path %></p>
      <a href="https://www.lauragosney.com/" target="_blank"> Site by lauragosney.com
      </a>

  </footer>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a7a031e4b4019c5"></script>

  </body>

</html>
